<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ .title }}</title>

    <!-- Stylesheets -->
    {{ include "layouts/styles" }}

</head>
<body ng-app="IrisApp" ng-cloak>

    <!-- Share components -->
    {{ include "components/loading" }}

    <!-- Render page detail -->
    {{ template "content" . }}

    <!-- Scripts -->
    {{ include "layouts/scripts" }}
</body>
</html>